@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

h1 {
	font-size: 46px;
	line-height: 1.3;
	font-weight: 900;
}

.subtitle,
.quote {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 700;
}

p {
	font-size: 16px;
	line-height: 1.6;
}

li {
	font-size: 16px;
	line-height: 1.6;
	text-indent: 32px;
}